* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.naumi {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

.flexend {
  display: flex;
  justify-content: end;
  /* position: relative; */
  /* top: 10px; */
}
.dateinput {
  /* width: 100%; */
}
.paddingleft {
  padding-left: 10px;
}
.male {
  position: relative;
  width: 18%;
  top: 5px;
}
path {
    color: blue;
}
/* .css-4jnixx-MuiStack-root {
    
    padding-top: 8px;
} */

